{% extends "_post.html" %}

{% hyde
    title: "Carte des structures et communautés du monde du libre en Belgique"
    created: 2015-08-05 14:00:22
%}

{% block article %}
{% article %}
{% excerpt %}

Il y a peut, j'ai torché une carte des "structures et communautés du monde du
libre" présentes en Belgique, l'idée était d'avoir un résultat rapide pour un
événement et comme c'est déjà utilisable (et utilisé : nous l'avons mises sur
[le site d'Abelli](http://abelli-asbl.be)) et que c'est des informations que je
n'ai encore vu nul part je vous la remet ici. L'idée à terme c'est de générer
tout ça depuis [HackerAgenda](http://hackeragenda.be).

<iframe width="100%" height="600px" frameBorder="0" src="http://umap.openstreetmap.fr/fr/map/structures-et-communautees-du-monde-du-libre-en-be_48733?scaleControl=false&miniMap=false&scrollWheelZoom=false&zoomControl=true&allowEdit=false&moreControl=true&datalayersControl=true&onLoadPanel=undefined&captionBar=false"></iframe><p><a href="http://umap.openstreetmap.fr/fr/map/structures-et-communautees-du-monde-du-libre-en-be_48733">Voir en plein écran</a></p>

L'url partageable : [http://u.osmfr.org/m/48733/](http://u.osmfr.org/m/48733/)

Si vous voulez rajouter des "Structures ou organisations du <b>Monde</b> du
libre" dessus [contactez moi](mailto:cortex à worlddomination.be).

{% endexcerpt %}
{% endarticle %}
{% endblock %}
