{% extends "_post.html" %}

{% hyde
    title: ChangeLog mode
    created: 2015-07-07 00:48:36
%}

{% block article %}
{% article %}
{% excerpt %}

Hello everyone,

Since blogging is, obviously, not an activity I really enjoy but since I have
still things that I do and things that it's pretty cool to share them, I'm
going to switch from "trying and failing to write so called blog post" to "this
blog is going to be a ChangeLog of what I've been doing" with a much simpler
writing style and a more "raw" style (not giving that much context to explain
everything).

Cheers,

{% endexcerpt %}
{% endarticle %}
{% endblock %}
