{% extends "_post.html" %}

{% hyde
    title: "[old] Présentation de la Brique Internet à Radio Campus"
    created: 2015-07-12 14:08:28
%}

{% block article %}
{% article %}
{% excerpt %}

En vrai c'est l'annonce pour un événement de [Neutrinet](http://neutrinet.be)
de présentation de la [Brique Internet](http://labriqueinter.net) mais cela
marche aussi comme présentation de la Brique.

C'était le 5 juin et c'était notre première annonce publique du lancement de la
Brique Internet chez Neutrinet.

<center>
    <audio controls>
        <source src="/media/audio/campus_brique.mp3" type="audio/mpeg">
        Votre navigateur ne supporte pas l'élément audio.
    </audio>
</center>

Merci à Déborah, Fredux et campus <3

{% endexcerpt %}
{% endarticle %}
{% endblock %}
