{% extends "_post.html" %}

{% hyde
    title: "Réflexion : nous n'avons pas de \"journalisme\" communautaire dans le monde du libre"
    created: 2015-08-31 15:11:21
%}

{% block article %}
{% article %}
{% excerpt %}

Un récrit fréquent dans nos communautés est que nous sommes mauvais en
communication, aussi bien entre nous que vers ceux n'y appartenant pas
(public non initié, journalistes, politiques et autres), et, force est de
constater qu'à quelques exceptions notables (pas besoin de les lister, c'est les
structures que tout le monde connait) nous sommes tristement assez proches de
nos clichés. Là où, de manière surprenante, nous n'en sommes pas si proches
c'est lorsqu'il s'agit d'y trouver des solutions **qui marchent pour la
majorité**. Dire que n'avons rien tenté serait profondément malhonnête, mais
depuis mon arrivée dans ce milieu, le discours ambiant n'a vraiment pas évolué de :

* c'est important de communiquer
* **tu** dois communiquer
* (avec pas mal de la chance mais c'est considéré comme évident en général) voici un ensemble d'outils (blogs/autres), lieux (mailing listes/forums)

Nous avons quasiment [1000 livres pour apprendre à programmer avec/en
Python](http://www.amazon.com/s/ref=nb_sb_noss?url=search-alias%3Daps&field-keywords=learning+python#)
mais nous ne sommes toujours pas foutus d'avoir le moindre livre de référence
sur comment communiquer, que ce soit entre nous ou vers les autres et les
autres documents sur ce sujet sont rares, pauvres et peu connus. Par
conséquent, qui communique dans nos communautés aujourd'hui ? Ceux qui ont
appris à la dure, qui ont **pris le temps de le faire**, aiment peut être le
faire, ont peut être une intuition sur comment le faire ou ont peut être été
formés pour ... bref, pas grand monde.

« Il suffit donc d'écrire ce livre pour résoudre ce problème ! » vous allez me
dire (ou pire « Il suffit donc que **tu** écrives ce livre » ce qui serait une
bien mauvaise idée) ce qui, même si ça serait un grand progrès, serait passer à
côté de nombreux problèmes :

* communiquer bien prend du temps, voire beaucoup de temps, du temps que tout le monde n'a pas forcément ou pas envie de mettre là dedans
* communiquer prend aussi de l'énergie, voire beaucoup d'énergie, ce qui est soumis aux même contraintes que le temps
* apprendre à bien communiquer est un processus long et fastidieux
* communiquer est un processus qui peut être intimidant voir effrayant, en particulier dans certaines de nos communautés qui sont connues pour ne pas être tendres voir peuplées de flames war ou trolls velus.
* certaines personnes ne trouvent ça simplement pas amusant voir profondément chiant à faire et dans des activités basées sur le bénévolat et les volontés personnelles ça passe simplement à la trappe (à titre d'exemple : je trouve ça personnellement chiant à faire et un article, celui-ci compris, est véritablement insupportable à rédiger pour moi, je passe plusieurs minutes par phrases)

En effet, quelque chose que l'on apprend en programmation c'est que cela ne
sert à rien de se concentrer sur optimiser une partie d'un programme si l'on ne
peut qu'attendre au maximum que quelques pourcentages d'amélioration, il faut
se concentrer sur les parties où l'on sait que l'on pourra aller bien plus
loin. Il est illusoire d'espérer voir un jour l'ensemble des acteurs de nos
communautés se mettre à communiquer, aussi bien entre nous que vers l'extérieur.

Alors qu'est-ce qu'on fait ? Est-ce qu'on veut vraiment continuer d'avoir une
communauté où la communication (et donc la visibilité) est laissé aux personnes
qui ont le privilège d'avoir le temps, l'énergie et le savoir suffisant pour le
faire ? Et que tou·te·s les autres vivent dans l'oubli et sans être reconnu·e à
leur juste valeur ? (J'ai volontairement mis de côté les projets tellement
ultra géniaux (et surtout généralement très vieux) que d'autres se
chargent de la communication à leur place, ce sont une minorité) Je pense qu'il
va être temps que l'on change de stratégie et que l'on se mette à avoir des
personnes ou structures qui se chargent d'une partie de la communication pour
les autres.

Mais avant de communiquer bien à l'extérieur, il serait bien de déjà commencer
par le faire entre nous. <i>Un copain m'a un jour dit « vous êtes une
communauté bizarre, vous n'avez pas d'histoire de vos luttes »</i>
Communiquer entre nous, ça permettrait entre autre de nous fédérer, mieux nous
connaitre, constituer une histoire commune et de grandir ensemble.

Il y a toutes ces personnes qui se
connaissent à peine entre elles et qui font des choses géniales mais pour
lesquels bien trop peu sont au courant. Même des structures comme la
SNCF sont foutues d'avoir des gazettes internes, mais chez nous, où sont nos
"journalistes" de nos communautés ? Où est notre gazette des copains pour les
copains par les copains ? Où est-ce que je peux aller pour me tenir au courant
de ce qui se passe dans notre petit monde sans être sur 15 ml, 30 chans IRC et
1500 abonnements twitter ? Lire des articles de certains qui ont pris la peine
d'aller découvrir de nouveaux projets ou structures, de discuter avec leurs
membres et de revenir porter leurs parole et la rendre visible ? Qui me parle
des petits, des acteurs locaux, de ceux qui font un travail de fond mais
dont on entend pas parler (et pas "yet another" article sur Ubuntu ou Mozilla) ?

Je veux notre journal des copains par les copains pour les copains, qu'on
arrête de vivre chacun dans notre coin en s'entre-ignorant, volontairement ou
non, et que la visibilité soit l'apanage d'un groupe bien trop petit.

Il existe déjà le Framablog de Framasoft qui se rapproche le plus, à ma
connaissance, de ce que je décris (et un grand merci à eux) mais je pense que
nous pouvons (et devons) aller bien plus loin.

« Alors, est-ce que tu vas faire quelque chose ? » Je ne sais pas, d'un côté
cette réflexion est encore fort jeune (elle date d'avant-hier), le temps est
une ressource rare et j'ai bien conscience des problèmes que lancer un "journal"
pourrait engendrer (lutte de pouvoir, biais, transmission non fidèle de
l'information, appropriation, entre autres), de l'autre, c'est une idée qui
mérite d'être creusée et testée sur le terrain et j'ai déjà plusieurs personnes
intéressées par l'aventure et je réalise que je fais déjà en partie cela avec
[HackerAgenda](http://hackeragenda.be) (en Belgique) et [la
radio](/blog/2015/source-src-lemission-du-libre-de-radio-campus-be.html)
et que j'aime beaucoup ça mais que c'est loin d'être suffisant. Affaire à
suivre ?

{% endexcerpt %}
{% endarticle %}
{% endblock %}
