{% extends "_post.html" %}

{% hyde
    title: "Sur l'exclusion dans les milieux « geeks »"
    created: 2015-07-22 03:49:46
%}

{% block article %}
{% article %}
{% excerpt %}

J'ai bien conscience que les sujets de l'inclusion et de l'exclusion des
minorités non présentes dans nos milieux est un sujet régulièrement abordé et
que ce poste pourrait sembler être "juste un poste de plus", malgré tout, il
s'agit du genre de sujet qui ne sera jamais assez abordé tant qu'il sera
d'actualité.

Je suis récemment (bon j'admets, en mois) arrivé à un modèle mental clair sur
la question et j'avais envie de le partager.

L'histoire commence généralement par une communauté se décrivant généralement
en les termes suivants : « nous sommes ouverts à tous, tout le monde est libre
de venir chez nous », ce qui n'est pas nécessairement une mauvaise chose en
soit.

Sauf que.

Sauf que survient assez rapidement un problème : certaines personnes ont des
comportements excluants. Sans rentrer dans la question de l'invisibilisation et
de la non perception ou de la difficulté à percevoir ces comportements
excluant pour les personnes en place quand cela ne les vise pas directement,
j'aimerai aborder la question de la résolution de cette situation et du
principale problème rencontré. Ce principale problème est la première des [Five
Geek Social Fallacies](http://www.plausiblydeniable.com/opinion/gsf.html) qui
est, je cite:

{% H 'text' %}
Geek Social Fallacy #1: Ostracizers Are Evil
{% endH %}

Qui pourrait se réécrire ici de cette manière :

{% H 'text' %}
On exclue jamais personne, c'est mal
{% endH %}

Et c'est le cœur du problème.

C'est le cœur du problème parce que l'on se retrouve face à une incompatibilité
: parce qu'on accepte tout le monde on accepte, dans un premier temps,
également des personnes aux comportements excluants, qui vont donc exclure ou
faire fuir d'autres personnes mais comme on ne les exclue pas [1] car « c'est
mal » ™ ces personnes continueront donc leurs comportements et l'on passera
donc d'une communauté en apparence « ouverte à tous » à une communauté réservée
uniquement aux personnes ne subissant pas ces comportements excluants ou étant
prêt à les accepter. Victoire.

La solution pourrait sembler évidente (débarrassons nous de cette fallacy),
c'est sans compter la grande résistance d'une « tribu » à faire bouger ses
lignes de pensés en particulier sur des règles implicites qui ne sont jamais
dites clairement (les personnes n'ayant que même rarement consciences d'être
soumises à ces règles), ce qui les rends d'autant plus difficile à attaquer.
Heureusement, les choses évoluent dans la bonne direction ces derniers années
et même si tout n'est pas tout rose et qu'il y a encore énormément de chemin à
faire, cela avance, mais cela prend du temps. Et cela prendrait probablement
moins de temps si l'on venait à bout de cette règle non dite (mais ce n'est de
loin pas le seul problème, voir : tous les autres mécanismes des oppressions)
(et il est important de rappeler que c'est une action importante, voir
nécessaire, mais de loin pas suffisante).

Et pour sortir du côté abstrait de ce poste, je vais redire ce que je viens
dire de manière beaucoup plus concrète et franche (remarque : quand je vais
dire ici "ne peut pas avoir" je vais parler en quantité significative, pas une
ou deux personnes).

Une communauté « geek » [2] ne peut pas avoir en son sein :

* des personnes aux comportements sexistes et des femmes
* des personnes aux comportements racistes et des personnes racisées
* des personnes aux comportements transphobes et des personnes « au placard » ou ouvertement trans ou ne se retrouvant pas dans la [binarité du genre](https://fr.wiktionary.org/wiki/binarit%C3%A9_de_genre)
* des personnes aux comportements biphobes et des personnes « au placard » ou ouvertement bi
* des personnes aux comportements lesbophobes et des personnes « au placard » ou ouvertement lesbiennes
* des personnes aux comportements homophobes et des personnes « au placard » ou ouvertement homosexuelles
* etc ... (la liste des comportements discriminants est malheureusement fort longue et cette précédente liste n'est de loin pas exhaustive, l'élitisme étant également un de ces comportements fort présent dans nos communautés)

[3]

Il faut donc choisir entre exclure ces comportements (et donc les personnes qui
refusent d'arrêter de les avoir) et voir se faire exclure les personnes visées,
c'est aussi simple que cela.

À titre personnel, mon choix est déjà fait.

<hr>

[1] il reste quand même l'option de raisonner ces personnes (quand on réalise
qu'ils font cela) mais c'est hasardeux et l'on tombe toujours sur des cas «
désespérants » (pour ne pas dire « non solvable ») de la personne qui refuse de
reconnaitre son comportement ou le justifiant par une supposé « liberté
d'expression » (dont elle ne comprend pas elle même le sens mais qui lui sert
d'argument ultime). Et pendant ce temps là, les personnes victimes continuent
d'être exclues et les personnes désirant rejoindre la communauté repoussée.

Pour citer une amie : « si je débarque dans un lieu et que je me fais trasher
je ne reviens pas et je ne vois pas pourquoi j'aurais la moindre envie de le
faire »

[2] Et probablement les autres, mais je ne vais parler que de ce que je
connais.

[3] Il va sans dire que l'absence d'une minorité ne peut être utilisé comme
argument pour justifier d'accepter des comportements discriminants.

{% endexcerpt %}
{% endarticle %}
{% endblock %}
