{% extends "_post.html" %}

{% hyde
    title: Andrew godwin designing djangos migrations pycon 2014
    created: 2014-07-05 06:13:27
%}

{% block article %}
{% article %}
{% excerpt %}

<center><iframe width="560" height="315" src="//www.youtube.com/embed/a-_GAHfpk1Y" frameborder="0" allowfullscreen></iframe></center>

A talk by the developper of the Django [South
migration](https://south.readthedocs.org/en/latest/index.html#index) explaining
his work of integrating migrations directly in the core of Django 1.7
(unreleased right now).

Interesting informations:

* this is not a port of South into Django, this is a totally new migration tool
* this is built on 7 years of working on South and of feedback from the community
* migrations files are now way shorter, no more frozen ORM, only the migrations operations are left
* those migrations operations are now a list of atomic operations and not raw code anymore
* it's still possible to write migrations code in python or SQL
* migration automatic generation is supposed to be more intelligent than the South one
* to achieve this, this new migration tool take you current schema plus all the migrations then do diffs between then to recreate the reality
* migration from South migrations to those news migrations is supposed to be painless
* of all the databases he has been working on, PosgreSQL is the only one without stranges behavior (for this situation)
* very cool new feature that allow to magically merging a series of migrations into one. Furthermore, will doing this merging, some atomic operations are compressed together (like a create table followed by a add column will be compressed into one create table, one add column X followed by one remove column X will be nulled, etc...)
* this works has entirely been financed via a successful Kickstarter campaign, I see more and more things like this happening and this is pretty cool
* Andrew seems to be responsible for the release of Django 1.7, Django never announce release date but he talks about May 2015

This talk is quite short (20min of speach, 5 of Q&A) so there isn't that much informations but this give a good otherview of what to news migrations will be like and how it has been done.

{% endexcerpt %}
{% endarticle %}
{% endblock %}
