{% extends "_post.html" %}

{% hyde
    title: Release of MyTemplates 0.2
    created: 2011-11-18 04:15:06
%}

{% block article %}
{% article %}
{% excerpt %}

The new version of MyTemplates is out!

The new feature of this release is to allow mtpl to run python scripts that
will be responsible for create a more complex template that just a single texte
file.

For reminder MyTemplates is a tool to manage a collection of templates files
for coding that use git. The [current templates repository](https://github.com/Psycojoker/mytemplates) host for the moment
licences templates, some scripts to write irc bots, some templates for python
(ie: setup.py) and more. Feel free to submit new content (send a pull request!).

[Links and source](https://github.com/Psycojoker/mtpl).

You can also find it on [pypi](http://pypi.python.org/pypi/mtpl/0.2).

{% endexcerpt %}
{% endarticle %}
{% endblock %}
