{% extends "_post.html" %}

{% hyde
    title: HolyGrail 0.2 Perceval
    created: 2011-04-06 16:55:42
%}

{% block article %}
{% article %}
{% excerpt %}

<p>I'm proud to announce you the release of <a href="http://pypi.python.org/pypi/HolyGrail/0.2.Perceval">the version 0.2</a> of <a href="/holygrail/">HolyGrail</a>, my next actions list management library.</p>

<p>You can downloaded it <a href="http://pypi.python.org/packages/source/H/HolyGrail/HolyGrail-0.2.Perceval.tar.gz#md5=ecd2b94ac1317788f0f56d8d37e7c50c">here</a> or via pypi:</p>
<blockquote  style="background-color:#313031; color:#ffffff">
sudo easy_install -U holyview
</blockquote>

<p>Since this new version introduce modification in the API and therefore possible incompatibility with previous code design for the previous version of the lib, I've decide to move from 0.1.* to 0.2.*.</p>

<p>Changelog:</p>
<ul>
<li>API change: now every list_* methods return a generator, not a list. This increase the performances.</li>
<li>API change: last_completed_missions return only 5 missions by default, an argument can increase this number</li>
<li>fix a bug with quest and realm "get_missions" method that won't return any missions if the quest/realm is hidden</li>
</ul>

<p>For a short summary, HolyGrail is a library designed to manage a list of next actions (a todo list) in the <a href="http://en.wikipedia.org/wiki/Getting_Things_Done">GTD</a>'s way. I've chosen to write a documented library to offer everyone the possibility to write it's own interface instead of imposing mine. The organisation of the actions are in the GTD's way: todos are group in contexts (realms) and can me member of a project (quest).</p>

<p>I'm planning to release shortly (lulz) an ncurse interface for HolyGrail. I just want to finish some things before (having a browsable help).</p>

<p><a href="/projects/holygrail/">More informations</a></p>

{% endexcerpt %}
{% endarticle %}
{% endblock %}
