{% extends "_staticpage.html" %}

{% hyde
    title: Learn You Haskell for Great Good\! .mobi version
%}

{% block article %}

<p>This is the webpage for the .mobi version of <a href="http://learnyouahaskell.com/">Learn You Haskell for Great Good!</a> written by Miran Lipova?a.</p>

<p>This work is licenced under CreativeCommons Attribution-NonCommercial-ShareAlike 3.0.</p>

<p><a href="http://git.worlddomination.be/?p=books/lyhfgg.git;a=blob_plain;f=Learn_You_Haskell.mobi;hb=master">Latest version</a></p>

<p><a href="http://git.worlddomination.be/?p=books/lyhfgg.git;a=blob_plain;f=Learn_You_Haskell.html;hb=master">HTML used to generate it</a></p>

<p>Git repository:</p>
<blockquote  style="background-color:#313031; color:#ffffff">
git clone git://git.worlddomination.be/books/lyhfgg.git
</blockquote>

<p>Changelog</p>
<ul>
    <li>
    Version 1.1
    <ul>
        <li>A part of the original book was missing around "Guard, guard!"</li>
        <li>Correct the first code snippet of "A few more recursive functions"</li>
    </ul>
    </li>
    <li>
    Version 1.0
    <ul>
        <li>Init.</li>
    </ul>
    </li>
</ul>

{% endblock %}
