{% extends "_staticpage.html" %}

{% hyde
    title: Pipe ToolKit
%}

{% block article %}

<p>This tool kit is an attempt to compile a set of tools I've created to solve
problems for La Quadrature du Net. Those tools are designed to works with unix
shell pipe. They follow the unix philosophy and aim to stay simple.</p>

<p>You can find more informations on the <a href="http://pypi.python.org/pypi/PipeTK">pypi page</a>.</p>

To install it:

<blockquote  style="background-color:#313031; color:#ffffff">
    sudo pip install pipetk
</blockquote>

[Source code](https://github.com/Psycojoker/pipetk)!

{% endblock %}
