{% extends "_staticpage.html" %}

{%hyde
    title: "Projects"
%}

{% block article %}

<h3>Softwares</h3>
<ul>
    <li><a href="holygrail.html">HolyGrail</a>: a very high level library to manage the holy quest of your life ! (In other words it's an high level library to manage a next actions list in the <a href="http://en.wikipedia.org/wiki/GTD">GTD</a>'s way).</li>
    <li><a href="holycurse.html">HolyCurse</a>: HolyView is a ncurse interface to HolyGrail.</li>
    <li><a href="holyview.html">HolyView</a>: HolyView is a ncurse tool design for long term organisation. It's purpose is to help you chose what to do now to be the most effective in the long term.</li>
    <li><a href="ulr.html">ULR</a>: a minimalist web browser who read a list of urls in a file. Plan to be used with <a href="http://www.newsbeuter.org">newsbeuter</a> and/or <a href="http://www.vanheusden.com/rsstail/">rsstail</a>.</li>
    <li><a href="pipetk.html">PipeToolKit</a>: a collection of small scripts that modify input received via shell pipe</li>
    <li><a href="feedstail.html">FeedsTail</a>: reads syndication feeds (RSS/Atom) like a tail -f reads a file. Python reimplementation of <a href="http://www.vanheusden.com/rsstail/">rsstail</a></li>
</ul>

<h3>Tools and scripts</h3>
<ul>
    <li><a href="ungarage.html">HowTo script a irc bot in the unix way</a>: highlight configurable bot using <a href="http://tools.suckless.org/ii/">ii</a>, <a href="http://www.vanheusden.com/rsstail/">rsstail</a>/<href a="feedstail.html">feedstail</a>, <a href="http://gregkh.github.com/bti/">bti</a>, <a href="https://github.com/marcel/twurl">twurl</a> and others. Also include a way to pipe a RSS to a identi.ca/twitter account.</li>
    <li><a href="/blog/2010/your-own-rss-irc-chan.html">rssator</a>, create your own rss-irc chan.</li>
    <li><a href="http://www.vim.org/scripts/script.php?script_id=3151">pytestator</a>, a vim-script to facilitate the coding of unittest in python.</li>
    <li><a href="/blog/2011/small-dirty-script-transform-core-web-page-mobi.html">mobifyer</a>, transform the core text of a web page into a .mobi file (works also for epub) using the algorithm of <a href="http://readability.com">redability</a> and ebook-convert (from <a href="http://calibre-ebook.com/">calibre</a>).</li>
</ul>

<h3>Ebooks</h3>
<ul>
    <li><a href="/media/ebooks/djangobook.mobi">mobi</a>/<a href="/media/ebooks/djangobook.epub">epub</a> version of the <a href="http://djangobook.com">DjangoBook</a></li>
    <li><a href="lyhfgg.html">mobi</a> version of <a href="http://learnyouahaskell.com/">Learn You Haskell for Great Good!</a></li>
</ul>

{% endblock %}
