{% extends "_staticpage.html" %}

{%hyde
    title: "Projects"
%}

{% block article %}

### Softwares

- [Irenicurse](https://github.com/Psycojoker/irenicurse): a project to create a high level python framework to write ncurse applications based on [urwid](http://excess.org/urwid/). It aims for simplicity, fast development and reusability.
- [Dieren Theater](https://github.com/Psycojoker/dierentheater): a parser for (lachambre|dekamer).be that offer structured data to the whole world using a RestAPI and dumps
- [The Political Memory 2](http://memopol.lqdn.fr): a website for [la Quadrature du Net](http://laquadrature.net) that is both an campaign tool and a way to show citizens how elected representatives follows the voting recommendations of la Quadrature du Net on their subjects.
- [WarGod](https://github.com/Psycojoker/wargod): a river of flow type RSS reader that generate static html pages. Very inspired by [RawDog](http://offog.org/code/rawdog.html).
- [PipeToolKit](pipetk.html): a collection of small scripts that modify input received via shell pipe
- [Mtpl](https://github.com/Psycojoker/mtpl): generic manager for various templates files (from setup.py to gpl text) that uses [git](http://git-scm.com/).
- [FeedsTail](feedstail.html): reads syndication feeds (RSS/Atom) like a tail -f reads a file. Python reimplementation of [rsstail](http://www.vanheusden.com/rsstail/)
- [HolyView](holyview.html): HolyView is a ncurse tool design for long term organisation. It's purpose is to help you chose what to do now to be the most effective in the long term.
- [HolyCurse](holycurse.html): HolyView is a ncurse interface to HolyGrail.
- [HolyGrail](holygrail.html): a very high level library to manage the holy quest of your life ! (In other words it's an high level library to manage a next actions list in the [GTD](http://en.wikipedia.org/wiki/GTD)'s way).
- [ULR](ulr.html): a minimalist web browser who read a list of urls in a file. Plan to be used with [newsbeuter](http://www.newsbeuter.org) and/or [rsstail](http://www.vanheusden.com/rsstail/).

Note: I'm not always the only one working on those softwares.

### Tools and scripts

- [HNtoptoRSS](https://github.com/Psycojoker/hntoppostsrss): a simple script that generate a RSS feed out of the top post of [Hacker News](http://news.ycombinator.com).
- [HowTo script a irc bot in the unix way](ungarage.html): highlight configurable bot using [ii](http://tools.suckless.org/ii/), [rsstail](http://www.vanheusden.com/rsstail/)/feedstail, [bti](http://gregkh.github.com/bti/), [twurl](https://github.com/marcel/twurl) and others. Also include a way to pipe a RSS to a identi.ca/twitter account.
- [rssator](/blog/2010/your-own-rss-irc-chan.html), create your own rss-irc chan.
- [pytestator](http://www.vim.org/scripts/script.php?script_id=3151), a vim-script to facilitate the coding of unittest in python.  -   [mobifyer](/blog/2011/small-dirty-script-transform-core-web-page-mobi.html), transform the core text of a web page into a .mobi file (works also for epub) using the algorithm of [redability](http://readability.com) and ebook-convert (from [calibre](http://calibre-ebook.com/)).

### Ebooks

-   [mobi](/media/ebooks/djangobook.mobi)/[epub](/media/ebooks/djangobook.epub)
    version of the [DjangoBook](http://djangobook.com)
-   [mobi](lyhfgg.html) version of
    [Learn You Haskell for Great Good!](http://learnyouahaskell.com/)

{% endblock %}
