{% extends "_staticpage.html" %}

{% hyde
    title: How to build your own statusnet/twitter client with an irc bot
%}

{% block article %}

<p>This page is a guide on how to build your own status.net/twitter client using smalls softwares (rsstail, bti, twurl, ii ...) and bash to glue them all. This is for people who aren't afraid by the shell, like to hack with {ba|z}sh, like minimalist stuff and customisation.</p>

<h2>Your own irc server ?</h2>
<p>Since all the interactions will be made on irc via a bot, you may want to setup your own irc server. This is <b>optional</b>. But, their isn't any access control management in my scripts, so could be a good thing to do.</p>

<p>To setup your own irc server, I recommend you <a href="http://ngircd.barton.de/index.php.en">ngIRCd</a>. It is very easy to setup (only one config file to edit and you're done) and really stable. Thus, it is pkged in debian.</p>

<p>For debian(-based):</p>
<blockquote  style="background-color:#313031; color:#ffffff">
apt-get install ngircd
</blockquote>

<h2>ii</h2>

<p>Everything we are going to do will be based on <a href="http://tools.suckless.org/ii">ii</a>. It's an irc file-system that simplify a lot all the interactions with irc. The suckless page describe the principle.</p>

<p>For debian(-based):</p>
<blockquote  style="background-color:#313031; color:#ffffff">
apt-get install ii
</blockquote>

<p>we'll need a reconnection file to keep ii up, here is mine with 2 optionals way to join the irc chan(s):</p>

<blockquote  style="background-color:#313031; color:#ffffff">
<font color="#84cfef">#!/bin/bash</font><br>
<br>
<font color="#f7e78c"><b>while </b></font><font color="#f7e78c"><b>true</b></font><br>
<font color="#f7e78c"><b>do</b></font><br>
&nbsp;&nbsp;&nbsp;&nbsp;<font color="#84cfef"># if you only have one chan</font><br>
&nbsp;&nbsp;&nbsp;&nbsp;<font color="#f7e78c"><b>(</b></font>sleep <font color="#ffa2a5">5</font><font color="#f7e78c"><b>;</b></font>&nbsp;<font color="#f7e78c"><b>echo</b></font><font color="#ffa2a5">&nbsp;</font><font color="#f7e78c"><b>&quot;</b></font><span style="background-color: #efef00"><font color="#ff4500">/j #my_chan</font></span><font color="#f7e78c"><b>&quot;</b></font><font color="#ffa2a5">&nbsp;</font><font color="#f7e78c"><b>&gt;</b></font>&nbsp;<span style="background-color: #efef00"><font color="#ff4500">path/to/the/server/</font></span>in<font color="#f7e78c"><b>)</b></font>&nbsp;<font color="#f7e78c"><b>&amp;</b></font><br>
&nbsp;&nbsp;&nbsp;&nbsp;<font color="#84cfef"># if you have multiple chans and want to add new chans easily (you just need to do an &quot;echo chan_name &gt;&gt; chans&quot;</font><br>
&nbsp;&nbsp;&nbsp;&nbsp;<font color="#f7e78c"><b>for </b></font>i <font color="#f7e78c"><b>in</b></font>&nbsp;<font color="#ffdfad">`cat chans`</font><br>
&nbsp;&nbsp;&nbsp;&nbsp;<font color="#f7e78c"><b>do</b></font>&nbsp;<font color="#f7e78c"><b>(</b></font>sleep <font color="#ffa2a5">5</font><font color="#f7e78c"><b>;</b></font>&nbsp;<font color="#f7e78c"><b>echo</b></font><font color="#ffa2a5">&nbsp;</font><font color="#f7e78c"><b>&quot;</b></font><font color="#ffa2a5">/j </font><font color="#ce5d5a">$i</font><font color="#f7e78c"><b>&quot;</b></font><font color="#ffa2a5">&nbsp;</font><font color="#f7e78c"><b>&gt;</b></font>&nbsp;<span style="background-color: #efef00"><font color="#ff4500">path/to/the/server/</font></span>in<font color="#f7e78c"><b>)</b></font>&nbsp;<font color="#f7e78c"><b>&amp;</b></font><br>
&nbsp;&nbsp;&nbsp;&nbsp;<font color="#f7e78c"><b>done</b></font><br>
&nbsp;&nbsp;&nbsp;&nbsp;ii \\<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#f7e78c"><b>-i</b></font>&nbsp;<font color="#f7e78c"><b>&quot;</b></font><span style="background-color: #efef00"><font color="#ff4500">folder_where_ii_will_put_is_stuff</font></span><font color="#f7e78c"><b>&quot;</b></font>&nbsp;\\<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#f7e78c"><b>-s</b></font>&nbsp;<font color="#f7e78c"><b>&quot;</b></font><span style="background-color: #efef00"><font color="#ff4500">irc.my_server_addr.pouet</font></span><font color="#f7e78c"><b>&quot;</b></font>&nbsp;\\<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#f7e78c"><b>-p</b></font>&nbsp;<font color="#f7e78c"><b>&quot;</b></font><span style="background-color: #efef00"><font color="#ff4500">port number of the server</font></span><font color="#f7e78c"><b>&quot;</b></font>&nbsp;\\<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#f7e78c"><b>-n</b></font>&nbsp;<font color="#f7e78c"><b>&quot;</b></font><span style="background-color: #efef00"><font color="#ff4500">bot name</font></span><font color="#f7e78c"><b>&quot;</b></font>&nbsp;\\<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#f7e78c"><b>-f</b></font>&nbsp;<font color="#f7e78c"><b>&quot;</b></font><span style="background-color: #efef00"><font color="#ff4500">bot name</font></span><font color="#f7e78c"><b>&quot;</b></font><br>
<font color="#f7e78c"><b>done</b></font>
</blockquote>

<p>(Don't forget to put the correct informations)</p>

<p>Just launch the script (chmod +x &amp;&amp; ./script or sh script). We now have our irc bot.</p>

<h2>Rsstail</h2>

<p>We are going to use <a href="http://www.vanheusden.com/rsstail/">rsstail</a> to retrieve our FriendTimeLine. It's a small software that read a RSS (or an atom feed) like a tail -f. But, in rsstail default formating, the url and the title of the RSS item are put on 2 lines instead of one. I don't like that, so I patch rsstail's source code, here is the diff (yes, this is <b>optional</b>):</p>

<blockquote  style="background-color:#313031; color:#ffffff">
<font color="#f7e78c"><b>430c430</b></font><br>
<font color="#ffdfad">&lt;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; printf(&quot; %s&quot;, heading);</font><br>
<font color="#ffdfad">---</font><br>
<font color="#9cfb9c">&gt;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; printf(&quot;%s &quot;, heading);</font><br>
<font color="#f7e78c"><b>434c434</b></font><br>
<font color="#ffdfad">&lt;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; printf(&quot;%s%s\\n&quot;, no_heading?&quot; &quot;:&quot;Title: &quot;, item_cur -&gt; title);</font><br>
<font color="#ffdfad">---</font><br>
<font color="#9cfb9c">&gt;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; printf(&quot;%s%s&quot;, no_heading?&quot;&quot;:&quot;Title: &quot;, item_cur -&gt; title);</font><br>
</blockquote>

<p>If you don't care, just install it using your pkg manager.</p>
<p>For debian(-based):</p>
<blockquote  style="background-color:#313031; color:#ffffff">
apt-get install rsstail
</blockquote>

<h2>Bti</h2>

<p>We also need bti to post our tweet. You can find it <a href="http://gregkh.github.com/bti/">here</a> (the last version needs <a href="http://liboauth.sourceforge.net/">liboauth</a> to be able to post on twitter. I'll explain this later).</p>

<h2>Status.net</h2>

<p>Let's start with status.net, since this is fucking much easier than with twitter (stupid Oauth).</p>

<h3>Getting the FriendTimeLine</h3>

<p>(The FriendTimeLine is all your friend dents + your dents).</p>

<p>This is really easy, just do:</p>

<blockquote  style="background-color:#313031; color:#ffffff">
    rsstail -u http://identi.ca/api/statuses/friends_timeline/<span style="background-color: #efef00"><font color="#ff4500">your_user_name</font></span>.rss -N -z -P -l -i 120 -n 0 &gt; <span style="background-color: #efef00"><font color="#ff4500">path/to/the/irc/server/\\#the_chan/</font></span>in
</blockquote>

<p>Yes, jut one line of bash and yes, it is really easy to transform this into a multi account status.net client.</p>

<p>For the options, <i>-N</i> remove "title: " and "link :" from the default formating. <i>-z</i> and <i>-P</i> is to avoid quitting if errors occurs. <i>-l</i> show the links. <i>-i 120</i> is the sleeping time between checking for news updates. <i>-n 0</i> is the number of item to show at startups, 0 means nothing will appears except the new ones.</p>

<p>(You can ind those links here: <a href="http://identi.ca/api/statuses/friends_timeline/your_user_name.rss">http://identi.ca/api/statuses/friends_timeline/your_user_name.rss</a>)</p>

<p>Since not all software are perfect, rsstail might stop working after few days (dunno why), here is a quick fix to keep it up:</p>

<blockquote  style="background-color:#313031; color:#ffffff">
    echo "true" &gt; .while_cond #only once<br />
    while true; do rsstail -u http://identi.ca/api/statuses/friends_timeline/<span style="background-color: #efef00"><font color="#ff4500">your_user_name</font></span>.rss -N -z -P -l -i 120 -n 0 &gt; <span style="background-color: #efef00"><font color="#ff4500">path/to/the/irc/server/\\#the_chan</font></span>/in; if [ $(cat .while_cond) = "false" ]; then break; fi; done
</blockquote>

<p>This will keep rsstail up forever. If you want to stop it, just do an <i>echo "false" &gt; .while_cond</i> and kill the rsstail instance (<i>ps aux | grep rsstail</i> etc...). <b>Don't forget to do an <i>echo "true" &gt; .while_cond</i> after that to avoid breaking the reboot mechanism of your other rsstail instances.</b></p>

<p>One last (dirty) trick to have an header with colors if you wish to distinguish multiple feeds easily:</p>
<blockquote  style="background-color:#313031; color:#ffffff">
    rsstail -u http://identi.ca/api/statuses/friends_timeline/<span style="background-color: #efef00"><font color="#ff4500">your_user_name</font></span>.rss -N -z -P -l -i 120 -n 0 -Z '\\e[35;4m@your_user_name:\\e[0m' | while read -r line; do echo -e "$line" &gt; <span style="background-color: #efef00"><font color="#ff4500">path/to/the/irc/server/\\#the_chan/</font></span>in; done
</blockquote>

<h3>Posting</h3>

<p>To post we need to parse the output of the irc chan. Here is a small script that do that, the command is <i>!twitter</i>:</p>

<p>Warning: dirty code.</p>

<blockquote  style="background-color:#313031; color:#ffffff">
<font color="#84cfef">#!/bin/bash</font><br>
<br>
<font color="#9cfb9c">CHAN</font>=<font color="#f7e78c"><b>&quot;</b></font><font color="#ffa2a5">#<span style="background-color: #efef00"><font color="#ff4500">your_irc_chan</font></span></font><font color="#f7e78c"><b>&quot;</b></font><br>
<br>
tail <font color="#ffdfad">-n</font>&nbsp;<font color="#ffa2a5">0</font>&nbsp;<font color="#ffdfad">-f</font>&nbsp;<span style="background-color: #efef00"><font color="#ff4500">path/to/the/server/</font></span><font color="#ce5d5a">$CHAN</font>/out | grep <font color="#ffdfad">-v</font>&nbsp;<font color="#ffdfad">--line-buffered</font>&nbsp;<font color="#f7e78c"><b>&quot;</b></font><font color="#ffa2a5">&lt;<span style="background-color: #efef00"><font color="#ff4500">bot_name</font></span>&gt;</font><font color="#f7e78c"><b>&quot;</b></font>&nbsp;| grep <font color="#ffdfad">--line-buffered</font>&nbsp;<font color="#f7e78c"><b>&quot;</b></font><font color="#ffa2a5">\\&gt;</font><font color="#f7e78c"><b>&quot;</b></font>&nbsp;| <font color="#f7e78c"><b>while </b></font><font color="#f7e78c"><b>read</b></font><font color="#f7e78c"><b>&nbsp;</b></font><font color="#f7e78c"><b>-r</b></font><font color="#f7e78c"><b>&nbsp;line</b></font><br>
<font color="#f7e78c"><b>do</b></font><br>
&nbsp;&nbsp;&nbsp;&nbsp;<font color="#84cfef"># debug</font><br>
&nbsp;&nbsp;&nbsp;&nbsp;<font color="#f7e78c"><b>printf</b></font><font color="#ffa2a5">&nbsp;</font> '%s\\n' <font color="#ce5d5a">"$line"</font><br>
&nbsp;&nbsp;&nbsp;&nbsp;<font color="#9cfb9c">message_text</font>=<font color="#ffdfad">`printf </font> '%s\\n' <font color="#ce5d5a">"$line"</font><font color="#ffdfad">&nbsp;</font><font color="#f7e78c"><b>|</b></font><font color="#ffdfad">&nbsp;sed </font><font color="#f7e78c"><b>'</b></font><font color="#ffa2a5">s/.\\+&gt; //</font><font color="#f7e78c"><b>'</b></font><font color="#ffdfad">`</font><br>
&nbsp;&nbsp;&nbsp;&nbsp;<font color="#f7e78c"><b>case</b></font>&nbsp;<font color="#f7e78c"></font><font color="#ce5d5a">$message_text</font><font color="#f7e78c"></font>&nbsp;<font color="#f7e78c"><b>in</b></font><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;!debug<font color="#f7e78c"><b>)</b></font><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#f7e78c"><b>echo</b></font><font color="#ffa2a5">&nbsp;</font><font color="#f7e78c"><b>&quot;</b></font><font color="#ffa2a5">working!</font><font color="#f7e78c"><b>&quot;</b></font><font color="#ffa2a5">&nbsp;</font><font color="#f7e78c"><b>&gt;&gt;</b></font>&nbsp;<span style="background-color: #efef00"><font color="#ff4500">path/to/the/server/</font></span><font color="#ce5d5a">$CHAN</font>/in <font color="#f7e78c"><b>;;</b></font><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;!twitter\\ *<font color="#f7e78c"><b>)</b></font><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#9cfb9c">temp</font>=<font color="#ffdfad">`printf </font> '%s\\n' <font color="#f7e78c"><b>&quot;</b></font><font color="#ce5d5a">"$message_text"</font><font color="#f7e78c"><b>&quot;</b></font><font color="#ffdfad">&nbsp;</font><font color="#f7e78c"><b>|</b></font><font color="#ffdfad">&nbsp;sed </font><font color="#f7e78c"><b>'</b></font><font color="#ffa2a5">s/!twitter \\?//</font><font color="#f7e78c"><b>'</b></font><font color="#ffdfad">`</font><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#f7e78c"><b>printf</b></font> '%s\\n' <font color="#ffa2a5">&nbsp;</font><font color="#f7e78c"><b>&quot;</b></font><font color="#ce5d5a">$temp</font><font color="#f7e78c"><b>&quot;</b></font><font color="#ffa2a5">&nbsp;</font><font color="#f7e78c"><b>|</b></font>&nbsp;bti --account <span style="background-color: #efef00"><font color="#ff4500">user_name</font></span> --password <span style="background-color: #efef00"><font color="#ff4500">your_password</font></span> --action update<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#f7e78c"><b>if </b></font><font color="#f7e78c"><b>[</b></font>&nbsp;<font color="#ce5d5a">${</font><span style="background-color: #ff0000"><font color="#ffffff">#</font></span><font color="#ce5d5a">temp</font><font color="#ce5d5a">}</font>&nbsp;<font color="#f7e78c"><b>-lt</b></font>&nbsp;<font color="#ffa2a5">141</font>&nbsp;<font color="#f7e78c"><b>]</b></font><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#f7e78c"><b>then</b></font>&nbsp;<font color="#f7e78c"><b>echo</b></font><font color="#ffa2a5">&nbsp;</font><font color="#f7e78c"><b>&quot;</b></font><font color="#ffa2a5">Grand succès !</font><font color="#f7e78c"><b>&quot;</b></font><font color="#ffa2a5">&nbsp;</font><font color="#f7e78c"><b>&gt;</b></font>&nbsp;<span style="background-color: #efef00"><font color="#ff4500">/path/to/the/server/</font></span><font color="#ce5d5a">$CHAN</font>/<span style="background-color: #ff0000"><font color="#ffffff">in</font></span><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#f7e78c"><b>else</b></font><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#f7e78c"><b>echo</b></font><font color="#ffa2a5">&nbsp;</font><font color="#f7e78c"><b>&quot;</b></font><font color="#ffa2a5">Big tweet, might not work (</font><font color="#ce5d5a">${</font><span style="background-color: #ff0000"><font color="#ffffff">#</font></span><font color="#ce5d5a">temp</font><font color="#ce5d5a">}</font><font color="#ffa2a5">&nbsp;chars)</font><font color="#f7e78c"><b>&quot;</b></font><font color="#ffa2a5">&nbsp;</font><font color="#f7e78c"><b>&gt;</b></font>&nbsp;<span style="background-color: #efef00"><font color="#ff4500">path/to/the/server/</font></span><font color="#ce5d5a">$CHAN</font>/<span style="background-color: #ff0000"><font color="#ffffff">in</font></span><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#84cfef"># here, I still post because identica automaticaly tinyfied the</font><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#84cfef"># urls he received and I was to lazy to wrote a way to</font><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#84cfef"># calculate the effective size of a dent with urls in it</font><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#f7e78c"><b>fi</b></font>&nbsp;<font color="#f7e78c"><b>;;</b></font><br>
&nbsp;&nbsp;&nbsp;&nbsp;<font color="#f7e78c"><b>esac</b></font><br>
<font color="#f7e78c"><b>done</b></font><br>
<br>
</blockquote>

<p>As you can see, this script is really simple and very extensible. you can add as much accounts as you want and as much commands as you want. Congratulation, you now have a multi-account status.net client in just a few lines of bash.</p>

<p><i>If you wrote more code use printf + '' instead of echo to avoid execute of malicious code coming from irc.</i></p>

<p><a href="http://status.net/docs/api/">The status.net api</a> with curl examples that you can easily add to the previous script.</p>

<p>And voilà, you have everything you need to build your own status.net client.</p>

<h2>Twitter</h2>

<p>Twitter is really similar to status.net at the exception that they have this stupid oauth. Here are the tricks to works with oauth:</p>

<h3>Posting</h3>

<p>If it's you identi.ca/status.net account that post on twitter, jump this part and just post on the identi.ca one as specified before.</p>

<p><b>You'll need bti compiled with <a href="http://liboauth.sourceforge.net/">liboauth</a>.</b></p>

<p><i>If you install liboauth from sources on a debian, don't forget the --prefix=/usr.</i></p>

<p>This is the easiest part of working with twitter, you just have to configure bti according to <a href="http://gluegadget.com/blog/index.php?/archives/34-Twitter, -OAuth-and-bti.html">this blog post</a> (the last part of the post).</p>


<h3>Getting the FriendTimeLine</h3>

<p>Now, the dirty part. You'll need <a href="https://github.com/marcel/twurl">twurl</a>, it is a curl with the oauth support, and a webserver where you can place a static file. If you don't have a webserver, you can simple do:</p>

<blockquote  style="background-color:#313031; color:#ffffff">
    python -m SimpleHTTPServer
</blockquote>

<p>This will launch a basic http server that will display the current folder.</p>

<p><b>If you are running a debian lenny, you'll need the lasted versions of rubygems (not the one in the pkgs) to make twurl works.</b></p>

<p>Twurl README explain how to register it to twitter.</p>

<p>Now, you can get your FriendTimeLine. Just do:</p>
<blockquote  style="background-color:#313031; color:#ffffff">
    twurl /1/statuses/home_timeline.xml &gt; <span style="background-color: #efef00"><font color="#ff4500">path/to/your/httpserver/folder/twitterfriendtimeline.xml</font></span>
</blockquote>

<p>I don't know why, but this command has refused to works in crontab, so I've simply do a (in a screen):</p>

<blockquote  style="background-color:#313031; color:#ffffff">
    while true; do twurl /1/statuses/friends_timeline.rss &gt; <span style="background-color: #efef00"><font color="#ff4500">path/to/your/httpserver/folder/twitterfriendtimeline.xml</font></span>; if [ $(cat .while_cond) = "false" ]; then break; fi; sleep 120; done
</blockquote>

<p>Now you have your FriendTimeLine accessible by rsstail and you can use the same solution than for status.net.</p>

<h2>Some useful stuff</h2>

<ul>
    <li>Tinyfiying an url with ur1.ca:<br />
<blockquote  style="background-color:#313031; color:#ffffff">
    curl -s http://ur1.ca/ -d "longurl=<span style="background-color: #efef00"><font color="#ff4500">the url</font></span>" | sed -u -e '/Your ur1/!d;s: *::g;s:<[^>]*>::g;s:^.*Yourur1is\\:h:h:;'
</blockquote>
</li>

<li><a href="http://status.net/docs/api/">The status.net api</a>.</li>

<li><a href="http://apiwiki.twitter.com/w/page/22554648/FrontPage">Twitter api</a>.</li>

<li>Url to have the atom feed of a research on twitter:
<blockquote  style="background-color:#313031; color:#ffffff">
    http://search.twitter.com/search.atom?q=pouet
</blockquote>
</li>

<li><a href="http://www.icerocket.com/">IceRocket</a> help you build <a href="http://www.icerocket.com/search?tab=twitter&lng=&q=this+OR+that+OR+thuse&x=0&y=0">complexes query</a> on searching twitter and provide an <a href="http://www.icerocket.com/search?tab=twitter&q=this+OR+that+OR+thuse&rss=1">RSS</a> for those queries.</li>
</ul>

<h2>[Bonus] Pipe a RSS to status.net/twitter</h2>

<p>You can pipe the output of rsstail to an status.net/twitter account with bti. This is an easy and stable way to post a RSS feed to status.net/twitter.</p>

<p>Here is an example:</p>

<blockquote  style="background-color:#313031; color:#ffffff">
    rsstail -u <span style="background-color: #efef00"><font color="#ff4500">http://example.com/rss.xml</font></span> -n 0 -l -N -z -P -i 30 -Z "[an header]" | bti
</blockquote>

<p><b>Warning, since it reads a RSS, it is very sensible, any change in the title or in the url will create a new post on your status.net/twitter account.</b></p>

<p>---</p>

<p>Send me <a href="/contact">an email</a> if you have any comment (ie: correcting my horrible globish).</p>

{% endblock %}
