{% extends "_post.html" %}

{% hyde
    title: Comment mettre à jours les statuts d'une ASBL et/ou son CA et/ou le siège social
    created: 2013-12-23 19:25:45
%}

{% block article %}
{% article %}
{% excerpt %}

Pour [Neutrinet](http://neutrinet.be/index.php?title=Main_Page), j'ai récemment
été amené à déposer une mis à jours des statuts de l'ASBL. Autant il y a
énormément de documentation, plus ou moins complète, sur comment fonder une
ASBL, autant j'ai vraiment eu du mal à trouver quoi que ce soit sur comment
faire une mis à jours. Ça tombe bien, j'ai fait les 3 opérations classiques:

* changement de siège social
* modification de la composition du conseil d'administration
* modification des statuts.

Je vais donc essayé de rédiger des instructions relativement clair histoire de
vous éviter de perdre des matinées inutilement.

**Ce document n'est pas un document officiel, il y a probablement des fautes et
des manquements, mais c'est ce que j'ai pu trouver de plus complet sur internet
jusqu'à aujourd'hui**.

N'hésitez pas à me [contacter](mailto://cortex at
worlddomination dot be) si vous avez des corrections/informations
supplémentaires/commentaires/envie de m'offrir une bière ou du chocolat.

Si vous connaissez git ou êtes un peu débrouillard, vous pouvez m'envoyer une
pull request ou un patch, le code source de ce blog [est disponible
ici](https://github.com/Psycojoker/worlddomination.be) ([lien vers le fichier
de cet
article](https://github.com/Psycojoker/worlddomination.be/blob/master/content/blog/2013/comment-mettre-a-jours-des-statuts-asbl.html)).

## Informations générale

Vous devez déposer ces documents au greffe du tribunal de commerce situatié au
[128 Boulebard de la 2ème armée Britannique au 1190 Bruxelles (à
Forest)](http://www.openstreetmap.org/node/2488257302#map=19/50.81747/4.32106).
Prévoyez du temps pour y aller, c'est assez loin du reste de Bruxelles. Ils ont
ces 2 numéros de téléphone si vous avez des questions à leur poser 02/346.03.33
et 02/346.14.53. Ils sont ouvert de **8h30 à 12h30** mais prévoyez quand même
de la marge. Il y a un parking si vous venez en voiture.

**Astuce**: généralement quand le dépot ne marche pas car il y a eu des
erreurs, les gens rentrent chez eux et reviennent une matinée suivante,
cependant, il y avait (je ne sais pas si c'est encore le cas) un cyber café
avec imprimante [par
ici](http://www.openstreetmap.org/way/240748318#map=19/50.81242/4.31911), si
vous avez le temps, vous pouvez aller là bas, faire vos corrections et revenir
déposer vos documents. **Pensez à prendre vos formulaires en format .odt ou
.doc sur une clef USB (ou équivalent)**.

## Argent

* quoi qu'il arrive, si vous devez faire une de ces 3 modifications, vous allez devoir payer la somme de 121,97 €
* c'est la même somme par dépôt, peut importe si il n'y qu'une des 3 opérations ou n'importe quelle combinaison des 3
* malheureusement, le greffe du tribunal de commerce n'accepte pas d'argent en liquide ni de carte VISA/autre, ça serait beaucoup trop facile.
* vous devez donc faire un virement et en apporter la preuve
* un screenshot d'un virement sur le site de votre banque marche
* vous pouvez également aller à la poste pour faire un versement, donner la somme (je l'ai fait en liquide avec l'argent des cotisations, je ne sais pas si ils prennent bancontact/VISA/autre, [envoyez moi un mail si vous le savez](mailto://cortex at worlddomination dot be)) et ils font un versement pour vous et vous donnent une preuve. La poste vous fait payer un surplus de 85 centimes pour l'opération.
* le virement doit autre fait au compte du moniteur: IBAN: BE48 6792 0055 0227 BIC: PCHQBEBB
* la communication n'avait pas l'air d'avoir beaucoup d'importance. Mettez quand même quelque chose qui a du sens.

#### Résumé:

* faites un virement ou un versement à la poste d'un montant de 121,97 € au compte du moniteur IBAN: BE48 6792 0055 0227 BIC: PCHQBEBB
* apportez un preuve de paiement lorsque vous irez déposer vos documents

Document d'information donné par l'administration lors du dépot:

<img src="/media/img/asbl/argent.png" />

## Document de base

Quelle que soit l'opération que vous souhaitez faire, vous devez apporter [ce
document](http://www.ejustice.just.fgov.be/tsv_pub/formulaire1asbl.odt)
complétés avec **le volet B en triple exemplaire**. Vous devez aussi autoriser
à représenter l'ASBL (ça dépend de vos statuts, généralement le président ou un
membre du CA est bon, l'AG peut aussi vous conférer ce pouvoir).

**Il est interdit de le remplir de manière manuscrite.**

#### À remplir:

* formulaire 1, volet A: toute la première page (normalement cette partie est simple)
* si vous ne retrouvez plus votre numéro d'entreprise, vous pouvez le retrouver en cherchant des documents relatifs à votre ASBL [sur le site du moniteur](http://www.ejustice.just.fgov.be/tsv/tsvf.htm) (remarque: si vous aimez l'informatique, allez voir les urls du dernier frame imbriqué et regardez le champ "Server" du header http renvoyé par ce site ... si si, vraiment, en 2013 ils utilisent vraiment ça)
* formulaire 1, volet B: remplissez l'entête, on verra plus bas pour l'objet de l'acte. Toutes les informations sont retrouvable dans votre acte de constitution.
* formulaire 1, volet C: je pense qu'il ne faut pas le remplir, il concerne la constitution

#### Résumé:

* remplissez et apporter le [formulaire 1](http://www.ejustice.just.fgov.be/tsv_pub/formulaire1asbl.odt) avec son volet B **en triple exemplaire**
* interdiction de remplir ces documents de manière manuscrite
* quelqu'un habilité à représenter l'ASBL doit signer les versos des documents, son nom et sa fonction doivent figurer au recto

## Modification du siège social

* ajoutez quelque chose comme "modification du siège social" dans l'objet de l'acte (situé dans le volet B du formulaire 1)
* indiquez à la suite de l'objet de l'acte quelque chose du genre: "Suite à l'assemblée générale [extraordinaire] du XX XX XXXX, le siège social de l'association est désormait ..."
* **le siège social dans l'entête du volet B doit être l'ANCIEN siège social**
* je ne sais pas si il faut mettre l'ancien ou le nouveau siège social dans le volet A, étant donné la logique je dirai l'ancien, mais on est à l'abris de rien. N'hésitez pas à me [contacter](mailto://cortex at worlddomination dot be) si vous le savez.
* je ne suis pas sûr si il faut préciser que ce changement modifie un article des statuts

## Modification des statuts

* ajoutez quelque chose comme "modification des statuts" dans l'objet de l'acte (situé dans le volet B du formulaire 1)
* à la suite de l'objet de l'acte, lister la liste des modifications faites à vos statuts, ou mettre l'ensemble de vos nouveaux statuts dedans
* indiquez quelque chose du genre "suite à l'assemblée générale du ..., les statuts ont été modifié tel que/les nouveaux statuts sont"

## Modification de la composition du conseil d'administration

La partie la plus compliquée.

#### Objet de l'acte

Rappel: cela se trouve dans le volet B du formulaire 1

* ajoutez, en fonction des modifications du CA, "Démission(s)", "Réélection(s)", "Nomination(s) d'administrateur(s)""

#### À la suite de l'objet de l'acte

* vous devez le remplir en rajoutant les informations suivantes (en n'ajoutant pas les informations vides ou en précisant, par exemple, qu'il n'y a pas eu de démissions)

<img src="/media/img/asbl/volet_b_cat.png" />

#### Le formulaire **2** volet A

Surprise, un formulaire de plus ! Remplissez le volet A avec les informations générale.

[Téléchargez cet autre formulaire ici](http://www.ejustice.just.fgov.be/tsv_pub/formulaire2asbl.odt).

À nouveau, je ne sais pas si, dans le cas où vous avez changé le siège social,
vous devez mettre le nouveau ou l'ancien ici. La logique voudrait que ce soit
l'ancien, mais bon ...

#### Le formulaire **2** volet C

(Oui, il n'y a pas de volet B, ne me demandez pas pourquoi).

* remplissez les informations classique autour nécessaire
* rajoutez les administrateurs *démissionnaires* (avec un C dans la première colonne) et *només* (avec un N dans la première colonne)
* ne mettez *pas* les administrateurs réélu
* la qualité d'un administrateur est *administrateur* (et pas son poste au sein de l'ASBL)

#### Autre

Voici un document obtenu au greffe reprennant toute la partie sur la modification du CA:

<img src="/media/img/asbl/modif_ca.png" />

En espérant que cela vous aura aidé.

{% endexcerpt %}
{% endarticle %}
{% endblock %}

