{% extends "_staticpage.html" %}

{%hyde
    title: "About"
%}

{% block article %}

Ohai, I'm Bram, a free software hacker. Here is a list of stuff I'm doing or have been doing:

(*last update 2013-12-15*)

<center>
<div style="width: 80%;">
# Currently

## [Neutrinet](http://neutrinet.be)

I'm part of Neutrinet, a project to build an associative, non-profit,
volunteer-based ISP in Belgium (more or less starting by Brussels) where I help
in the general organisation, promotion and administrative part.

I've co-initiate the project and relaunch it in July of this year to change
its type of organisation in a do-ocratie. We are a friendly small team and are
making good progress but the road is very long. Don't hesitate to join us, we
meet every two Thursday at the [123 rue Royale](http://www.123rueroyale.be/)
around 19h30.

Neutrinet is member of [Gitoyen](http://www.gitoyen.net/).

## [Political Memory](http://memopol.org)

I'm the main developer of the Political Memory. It is a tool whose purpose is
to allow a NGO (or anyone in fact) to publish the voting recommendation they
have sent to elected representatives, the tool then gather the list of elected
representatives, their votes and generate a listing of how well those elected
representatives have been following those voting recommendations. Example: [la
Quadrature du Net](https://laquadrature.net) told the Members of the European
Parliament that they should vote for
[ACTA](https://en.wikipedia.org/wiki/Anti-Counterfeiting_Trade_Agreement)
because it is destroying our freedom of the Internet (and for many other
reasons) and [here you can get the
result](https://memopol.lqdn.fr/europe/parliament/vote/acta_final/) (no, I'm
not happy by the current display).

The whole point of this tool is that if you think that, for example, la
Quadrature du Net represent you interests of Internet related subjects, you can
go of the Political Memory of la Quadrature du Net and see how well your
elected representatives are effectively representing you. This is a very
valuable information that you don't have for the moment and that allow you to
see your representatives through concrete informations that are important for
you and that YOU have chosen, not through their marketing campaign or what the
press is saying about them.

Of course, the objective is a wider adoption of this tool by politically
involved NGO or individuals. This is my current focus since, as today, la
Quadrature du Net is the only one to use it.

It's a tool, initially made by [Gibus](http://pascontent.sedrati-dinet.net/)
for [la Quadrature du Net](https://laquadrature.net), of which I've been the
main dev of the second (and current) version with a lot of [awesome
contributors](https://github.com/Psycojoker/memopol2/blob/master/CREDITS.txt).
I'm currently focusing my effort of making this tool generic and usable by
humans with the idea of seen a wider adoption of it.

### [Toutatis](http://toutatis.mm.staz.be/) and [Compotista](http://compotista.mm.staz.be/)

As part of the Political Memory new generic version, I've written 2 tools with
[staz](http://staz.be) to ease this work and extract things from the Political
Memory that shouldn't be in it.

Toutatis is a tool which roles is to make the matching between voting results
produced by the European Parliament which only contains the last name of the
Member of the European Parliament and a real member of the European Parliament.
I'm not going to detail this problem here, but it's way harder that it seems.

Compotista is a tool to convert the Member of the European Parliament data
coming from [parltrack](http://parltrack.euwiki.org/) into the *representative
format* that we have written with [stf](http://www.ctrlc.hu/~stef/blog/).

## [NURPA](http://nurpa.be)

NURPA is a citizen group that defend our Fundamental Freedom of the Internet.
We are active at the Belgium level and at the European level.

I'm a co-founder and I'm involved at the technical and networking (with humans)
level.

## [Baron](https://github.com/Psycojoker/baron)

Baron is a project to build a *lossless AST* (abstract syntactic tree) for
Python, the building block to easy write refactoring, code generation and code
inspection tools for Python. A more detailed explanation can be found
[here](/blog/2013/the-baron-project-part-1-what-and-why.html).

The project is moving well and I'm already able to parse a not so small subset
of python, but, considering the size of the task, I still have a lot to do.

## [UrLab](http://urlab.be)

UrLab is an (mostly) student Hackerspace located in the ULB (Free University of
Brussels). We organise a lot of conferences and workshops and try to focus on
knowledge sharing, openness and a friendly and open atmosphere.

I'm not that much present at it as I used to be since full time employment is
destroying my free time but I've made (and continue to do) several talks and
workshop at it, including (but not only):

<div style="text-align: left; width: 70%;">

<ul>
<li>a <a href="http://docs.saltstack.com/index.html">salt</a> introduction workshop, <a href="http://psycojoker.github.io/salt_workshop_slides/">slides</a></li>
<li>a presentation of <a href="http://www.haskell.org/haskellwiki/Haskell">haskell</a> and <a href="http://www.erlang.org/">erlang</a> <a href="https://github.com/Psycojoker/slides_haskell_or_erlang">slides</a></li>
<li>an introduction to <a href="https://docs.djangoproject.com/en/1.6/">Django</a> where I live coded a very simple blog</li>
<li>I've also made an introduction workshop to Django</li>
<li>a return of experience on using <a href="http://www.zabbix.com/">Zabbix</a> at work</li>
</ul>

</div>

I also really enjoy finding people to do talk at UrLab. Most of the person do
interesting things but won't spontaneously do a talk about it. This is also a
great occasion of building bridges between communities.

I'm part of the co-initiators but this project is a really a collective
realisation and I'm proud of it.

## [❤ Belgium Hacker Agenda ❤](http://hackeragenda.urlab.be/)

The ❤* Belgium Hacker Agenda *❤ started as a one weekend project on "how could
I help the members of a community that I love to know and interact more"
(namely,, the hackerspaces community of Belgium). My answer has been to scrap
the events of every hackerspace/similar organisation of Belgium (yes, scrap,
except one, no one is offering a .ics ..) and centralise it in one website,
like that, everyone can be informed of what everyone else is doing.

Since this one weekend, the project hasn't moved a lot, but I hope to be able
to add filtering possibilities in it then add a lot more other sources of
events in it.

## [Afpyro-BE](https://groups.google.com/forum/#!forum/afpyro-be)

Afpryro are python lover *apero* (aperitif) where wee meet each others and
sometime do talks. [Ludo](https://twitter.com/GMLudo) has launched to Belgium
version of them and I've had the pleasure to organise one edition (with [staz](http://staz.be)) and do a talk
(["Les outils de debug en python et
django"](http://psycojoker.github.io/slides-afpyro/#slide1)) at another one.

## [FOSDEM](https://fosdem.org)'s [Python Devroom](https://www.python-fosdem.org/)

I've accepted to give an hand to help organising the python devroom during the
next FOSDEM but to be honest, I haven't done that much yet.

FOSDEM is the biggest European freesoftware developers meeting. It happens
during the first weekend of February at the ULB at Brussels.

## [DierenTheater](http://dierentheater.be/)

DierenTheater is a tool that parse the Belgian federal Parliament (namely "la
Chambre" or "de Kamer"), extract data from it and offers them to the world via
Rest API and database dumps. The hope is to see people reuse this data to build
wonderful tools for use citizens.

I've made this project in [django-nonrel](http://django-nonrel.org/) to be able
to use [MongoDB](http://www.mongodb.org/) as a database and I'm pretty happy
about it for this kind of usage.

## [NosÉlus.Be](http://noselus.be)

NosÉlus.Be is a new project, born at the [eGov Wallonia
Hackathon](http://hackathonegovwallonia.net/) (where I wasn't present), that
aim to give a better vision to citizens of what their MP are doing. The current
focus is written questions. They have used my data from DierenTheater.

I've recently went to a meeting with the initiator of that project and other
people and I hope that we can build something beautiful together.

## [Regards Citoyens](http://www.regardscitoyens.org/) ([nosdéputés.fr](http://www.nosdeputes.fr/) and [nossénateurs.fr](http://www.nossenateurs.fr/))

Regards Citoyens is a French initiative that aim to simplify the process of our
democratic institutions. One of its most know action is the website
[nosdéputés.fr](http://www.nosdeputes.fr/) but it's only a part of what is been
done.

I'm not that much involved in it, only giving small tip from time to time, but
I really love what they are doing so I put them here to give them some
advertisement.

## Other
<div style="text-align: left;">

<ul>
<li><a href="http://lists.entransition.be/wws/info/communs-fest">Le Festival des biens communs</a> (*Common Good Festival*) is a regular meeting in Brussels around the them of the common goods. Their current focus is the citizen re-appropriation of the Josafat fallow land (but not only). I've add the pleasure to explain how internet and the freesoftware are a good example of common goods and how they are managed.</li>
<li><a href="http://www.meetup.com/OpenTechSchool-Brussels/">OpenTechSchool Brussels</a> is the Brussels "chapter" of <a href="http://www.opentechschool.org/">OpenTechSchool</a> initiative. I've been a coatch for the python workshops and hope to have other occasions to learn and share.</li>
<li><a href="https://hackerspace.be/welcome/index.html">HSBXL</a> is the oldest Hackerspace of Brussels where I go from time to time since they are doing cool things.</li>
</ul>

</div>

-

# Past

-

## [La Quadrature du Net](https://laquadrature.net)

La Quadrature du Net is a citizen group that defend our Fundamental rights on
the Internet at the French and at the European level (and probably more). They
have been very active against
[ACTA](https://en.wikipedia.org/wiki/Anti-Counterfeiting_Trade_Agreement) and
so much more other subjects and bad law projects.

I've been helping them during more than 3 years by working in the press review
team, writing script, irc bot, websites (the Political Memory, "Pas Peur
d'Hadopi" with mathieui, ...), making signature statistics for the written
declaration 12, finding people to help during the written declaration 12 and
many other.

## [Software Freedom Day 2013](https://hackerspace.be/Software_Freedom_Day_2013) at the [HSBXL](https://hackerspace.be/welcome/index.html)

Software Freedom Day is a worldwide event where local freesoftware enthusiast
are encouraged to make celebration events. Jurgen has been doing this at the
[HSBXL](https://hackerspace.be/welcome/index.html) for some years already. This
year, Sid and I join our forces with Jurgen, and with the help of members of
the HSBXL, with end up with a [very cool
event](https://hackerspace.be/Software_Freedom_Day_2013).

## [RMLL 2013](https://2013.rmll.info/en/index.html)

The RMLL (LSM for Libre Software Meeting in english) is an annual freesoftware
meeting that happen in France, Belgium and Switzerland. I've joined the team of
the 2013 edition the first time this project nearly failed due to the
resignation of one of the key members. My main contribution has been to manage
the meetings since we were organizing ourself in a do-ocratie way.

I've also made two presentations in the, very cool, Hackerspace Room, one about
the Political Memory and one to relaunch Neutrinet with the help of
[Taziden](http://www.libre-parcours.net/) and
[Bouska](https://twitter.com/b0uska).

## [P402](https://hackerspace.be/welcome/index.html)

P402 is a student collaborative platform build for the ULB by a friend (he
usually don't like to be quoted online) following [a
post](http://worlddomination.be/blog/2012/idee-dun-plateforme-dentre-aide-pour-edutiants.html)
(in french) on how this kind of platform could be.

I've also contributed a bit to the code.

## [Seeks](http://www.seeks-project.info/site/)

Seeks used to be, for me, our best chance to have a good alternative to google
search engine. The main idea was make a network that put people that do similar
research together and to share this knowledge in a DHT. Sadly, it's main
contributor has stop to work on it and the source code in C++ written in a very
"scientific" style make it hard for anyone to take on the project.

I've written a good part of the search engine parsers used in it. I'm still
waiting (because of the lack of time for me to do it myself) for a successor
project to emerge. And no, [searx](https://github.com/asciimoo/searx) is not
it's successor, it's only an anomysing meta-search engine.

## [WarGod](https://github.com/Psycojoker/wargod)

Not that much an important thing, but since I'm still using it almost every day
I'll put it here. WarGod is a very simple RSS reader that generate static html
pages and that allow me to write simple xpath query to grab the content of a
post.

## [Cercle Informatique de l'ULB](http://cerkinfo.be)

The Cercle Informatique de l'ULB is a student society in which I've been
involved for many years during my studies. I've been lesson delegate, vice
president, (lost at presidency) and propaganda delegate. I've spent many years
doing a lot of things there, including [painting some
walls](/blog/2010/oh-noes-internet-invades-my-frats-local.html) and serving
beers at the FOSDEM.

Related to the Cercle Informatique, I've been fux for 2 years then Grand Senior
for 2 years in it's guilde, the Guilde Gates (it's a student group that
organise [cantus](https://fr.wikipedia.org/wiki/Cantus)).

## [BES](http://www.besciences.be/)

The BES, Bureau des Étudiants en Science, is a student representation
organisation at the ULB. I've been a secretary in it for one year.

# Misc

I'm also a member of [April](https://www.april.org/) and [Afpy](http://www.afpy.org/).

I was told one day that I was supposed to be a Belgian Telecomix agent. I still don't know what this is supposed to mean.

</div>
-
</center>

-

*The content of this website is <a href="https://github.com/Psycojoker/worlddomination.be">versioned with git</a>. If you want to change/improve something just send me a patch.*

*Feel free to contact me on <a href="mailto://brain AT worlddomination dot be">brain@worlddomination.be</a>.*

{% endblock %}
