{% extends "_post.html" %}

{% hyde
    title: Introducing ideas section
    created: 2012-08-08 04:10:22
%}

{% block article %}
{% article %}
{% excerpt %}

I've created an [ideas section](/ideas/ideas.html) where I will put random
ideas about anything but mostly software ideas.

I always have too much ideas floating around in my head. They disappears
gradually and this make me kinda sad that I don't managed to share them. This
has already proven to be [successful](https://github.com/ekatsah/proj402) some
time when I did managed to talk about them with friends.

I've imposed myself too much constraints on blog posts (which cause a lot of
procrastination) so I just needed another place where I could dump them more
freely without caring about if they are good ideas and about the form that
much.

New feeds: [blog](/blog/atom.xml) [ideas](/ideas/atom.xml) [both](/atom.xml)

{% endexcerpt %}
{% endarticle %}
{% endblock %}
