{% extends "_post.html" %}

{% hyde
    title: Première jamsession de 2014 des biens communs le mercredi 8 janvier à 18h30 à la salle Sapiens
    created: 2014-01-06 01:51:32
%}

{% block article %}
{% article %}
{% excerpt %}

Je relais ici (avec permission) un mail d'invitation à un événement concernant
les biens communs sur Bruxelles dont je ne trouve trace en ligne.

> Bonjour,
> 
> 
> tout d'abord une bonne année à vous tous !
> 
> 
> La *première* *JAMSESSION **de 2014 des BIENS COMMUNS** a* lieu.
> *mercredi 8 janvier de 18h30 à 21h30 à la Salle Sapiens *dans la rue du
> Mérinos 1B à 1210 Saint-Josse.
> 
> 
> Le thème pour cette soirée : *Autogestion et vision d'une alternative
> globale et complète.*
> 
> Nous accueillons Yan et Edith qui partagerons avec nous leur rencontre avec
> la Coopérative Intégrale Catalane.
> *(Cette rencontre est une des étapes de leur voyage à la recherche
> d'initiatives inspirants autour des pratiques démocratiques et
> autogestionnaires. Pour celles et ceux qui désirent en savoir plus sur leur
> passionnant voyage : http://www.utopiasproject.net/ )*
> 
> Après cette présentation nous imaginerons ensemble le projet de Common
> Josaphat.
> 
> 
> Nous ferons une auberge espagnole : chacun amène quelque chose à boire et à
> manger et nous partageons !
> 
> 
> *Autres dates* à noter dans votre agenda :
> 
>    - mercredi 22 janvier de 19 à 22h / Workshop Common Josaphat dans la rue
>    Verheyden 121 à 1070 Anderlecht
>    - mercredi-soir 5 février / Jamsession 02 sur l’expérience de Marinaleda
>    et Camp de Cebada (des plus amples informations suivront)
> 
> 
> Au plaisir de vous voir un des mercredis !
> 
> 
> **
> 
> 
> Hallo allemaal,
> 
> 
> eerst en vooral een gelukkig nieuwjaar !
> 
> 
> Binnen één week vindt de *eerste JAMSESSION van 2014 van de COMMONS *plaats.
> 
> *Afspraak op woensdag 8 januari van 18u30 tot 21u30 in de Sapiens-zaal* in
> de Mérinosstraat 1B in 1210 Sint-Joost.
> 
> 
> Het thema voor deze avond : *Auto-beheer en visie van een globaal en
> volledig alternatief.*
> 
> Wij verwelkomen Yan en Edith die ons over hun ontmoeting met het
> Coopérative Intégrale Catalane komen vertellen.
> (Deze ontmoeting is één van de etappes van hun reis op zoek naar
> inspirerende initiatieven rond democratische en auto-beheerpraktijken. Voor
> degenen die meer wensen te weten over hun reis :
> http://www.utopiasproject.net/)
> 
> Na deze presentatie zullen we samen over het project van Common Josaphat
> nadenken.
> 
> 
> We doen een auberge espagnole : iedereen brengt wat mee om te eten en
> drinken en we delen !
> 
> 
> *Andere data* om in je agenda te noteren :
> 
>    - woensdag 22 januari van 19 tot 22h / Workshop Common Josaphat in de
>    Verheydenstraat 121 te 1070 Anderlecht
>    - woensdagavond 5 februari / Jamsession 02 rond Marinaleda et Camp de
>    Cebada (meer informatie volgt later)
> 
> 
> Hopelijk tot één van deze woensdagen !
> 
> 
> Sophie,
> pour le / voor de GT transversale

L'événement aura lieu ici:

<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.openstreetmap.org/export/embed.html?bbox=4.371877312660217%2C50.85274802784888%2C4.3747687339782715%2C50.854294003746794&amp;layer=mapnik&amp;marker=50.853521022203346%2C4.373323023319244" style="border: 1px solid black"></iframe><br/><small><a href="http://www.openstreetmap.org/?mlat=50.85352&amp;mlon=4.37332#map=19/50.85352/4.37332">Afficher une carte plus grande</a></small>

Le site web des biens communs: http://wiki.brusselscommons.be/

{% endexcerpt %}
{% endarticle %}
{% endblock %}
