{% extends "_post.html" %}

{% hyde
    title: How to install git annex assistant using cabal on Ubuntu LTS
    created: 2014-01-03 00:42:17
%}

{% block article %}
{% article %}
{% excerpt %}

Git annex assistant is a magically (but not that easy to use) auto
synchronisation solution of directories based on git.

Cabal is a the apt/pip/cpan/gems of haskell and git annex is written in
haskell.

Since I've spent quite some time finding the correct way to do this and since
anything with cabal is long, I'll share this with you to save you some time.

<script src="https://gist.github.com/Psycojoker/8213444.js"></script>

{% endexcerpt %}
{% endarticle %}
{% endblock %}
