{% extends "_post.html" %}

{% hyde
title: News on Neutrinet and DIY ISP
created: 2014-01-14 01:58:51
%}

{% block article %}
{% article %}
{% excerpt %}

[Neutrinet](http://neutrinet.be) is an associative ISP (non-profit, volunteer-based, solidarity-driven
and democratic) based on the model of
[FDN](https://en.wikipedia.org/wiki/French_Data_Network) ([French page is more
complete](https://fr.wikipedia.org/wiki/Fdn) that we are trying to build in
Belgium.

Recent events:

### 30C3

At the [30C3](https://events.ccc.de/congress/2013/wiki/Main_Page),
[taziden](https://twitter.com/taziden) gave a talk about DIY ISP in general,
presenting what they are doing in France, with the general message that "there
is a lot of initiatives like this, be we don't know each other, we don't talk
to each other, that sucks".

After making him rewrite all his slides when he asked me for feedback before
the talk, we decided to buy diyisp.org. Good for us, taziden's talk has been an
huge success (I couldn't even get into the room because it was full and also
because I was late, as usual) and we've organised a meeting after that. The
conclusion of this meeting is the launched of
[diyisp.org](https://www.diyisp.org/dokuwiki/doku.php?id=about)!

Feel free to [join the
party](https://www.diyisp.org/dokuwiki/doku.php?id=communication:tools)! Our
next meeting will be [at the FOSDEM
2014](https://www.diyisp.org/dokuwiki/doku.php?id=communication:tools#fosdem_2014).

You can find the description of taziden's talk [here](http://events.ccc.de/congress/2013/Fahrplan/events/5391.html) and the **VIDEO** [here](http://media.ccc.de/browse/congress/2013/30C3_-_5391_-_en_-_saal_6_-_201312291130_-_y_u_no_isp_taking_back_the_net_-_taziden.html). I highly recommand you to watch it.

You can find a more detailed summary of the event [on the website of the
FFDN](http://www.ffdn.org/en/article/2014-01-03/federating-do-it-yourself-isps-around-world)
(french version
[here](http://www.ffdn.org/fr/article/2014-01-03/federer-les-fai-participatifs-du-monde-entier)).

### db.ffdn.org

Just before the 30C3, FFDN (or at least Gu1) release a great tool to map the
existing DIY ISP initiatives: [db.ffdn.org](https://db.ffdn.org/)

### Neutrinet

Things are moving well on the Brussels side:

- after a lot of pain, the Belgium administration have accepted our updates for
  our status, this will unblock a lot of our next steps (joining FFDN, asking
  LDN for the VPS etc...)

- new people are showing up to the point that, for the first time, we have
  totally filled the meeting room.

- we now have an active [twitter account](https://twitter.com/neutrinet)

- if you want to give an hand, we'd like to translate our status in [English
  and in Flemish](http://neutrinet.be/index.php?title=Tache:Status)

- the next **Neutrinet** meeting will be during the [FOSDEM](https://fosdem.org/2014/) probably after the DIY ISP meeting

### Neutrinet at VJ14

[VJ14 or "Are you being served?"](http://vj14.constantvzw.org/) was a feminist
self hosting/DIY ISP/mesh network event by
[ConstantVZW](http://www.constantvzw.org/site/).

There, I've made a presentation of Neutrinet (in English). You can watch the
video
[here](http://video.constantvzw.org/VJ14/videoarchive/variable/feministserversummit-neutrinet.ogv).

Other noticeable talks (in the context of this post, most of the talk are really worth watching):

- [olm-e](http://www.ogeem.be/doku/doku.php) presenting [Réseau Citoyen](http://video.constantvzw.org/VJ14/videoarchive/variable/feministserversummit-reseaucitoyen.ogv) ([website](http://bombolong.net/))

- [Kheops](https://w.ceops.eu/id/kheops/) presenting [FAImaison](http://video.constantvzw.org/VJ14/videoarchive/variable/feministserversummit-faimaison.ogv) ([website](http://faimaison.net/))

- [Gabriel Lucas](https://twitter.com/gb_Lucas) presenting [Guifi](http://video.constantvzw.org/VJ14/videoarchive/variable/feministserversummit-guifi.ogv) (DIY ISP in Spain) ([website](https://www.guifi.net/))

Fact: it's the first tech event that I've attend where there was more woman than man.

{% endexcerpt %}
{% endarticle %}
{% endblock %}
