{% extends "_post.html" %}

{% hyde
    title: "Retour d'un débat sans conférences sur le thème de la démocratie"
    created: 2014-07-10 13:26:33
%}

{% block article %}
{% article %}
{% excerpt %}

J'ai participé ce premier lundi de juillet à une soirée de débat sans
conférences sur le thème de "la démocratie". Ce format est une réponse aux
"conférences débats" où basiquement quelqu'un parle pendant beaucoup de temps
et où le débat c'est quelques misérables questions réponses entre l'orateur et
le publique (donc très descendant comme relation).

{% endexcerpt %}
{% endarticle %}
{% endblock %}
