{% extends "layout.html" %}
{% block body %}

    {% set context = {"total": 0} %}
    {% for child in this.pagination.items %}
        {% if child._data._model == "years" %}
            {% for year in child.pagination.items %}
                {% for post in year.pagination.items %}
                    {% if context["total"] < 10 %}
                        <h2>{{ post.title }}</h2>
                    {% endif %}
                    {{ context.__setitem__("total", context["total"] + 1) or "" }}
                {% endfor %}
            {% endfor %}
        {% endif %}
    {% endfor %}

{% endblock %}
