<!doctype html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>{% block title %}Welcome{% endblock %} — worlddomination.be</title>
    <link href="/blog/atom.xml" rel="alternate" title="WorldDomination.be" type="application/atom+xml"/>
    <link rel="stylesheet" href="{{ '/static/css/base.css'|url }}" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="{{ get_pygments_stylesheet()|url }}">
</head>
<body>
  <div id="site">
      <header>
        <div id="header">
            <a href="/">
                <h1>WorldDomination.be</h1>
            </a>
            <p>cd ~/life && git log | head</p>
        </div>
        <ul class="breadcrumbs">
            <li>WorldDomination.be</li>
        </ul>
        <nav>
          <div id="sitenav">
              <ul class="nav navbar-nav">
                <li{% if this._path == '/' %} class="selected"{% endif
                  %}><a href="{{ '/'|url }}">Home</a></li>
                {% for href, title in [
                  ['/blog', 'Blog'],
                  ['/about', 'About']
                ] %}
                  <li{% if this.is_child_of(href) %} class="selected"{% endif
                    %}><a href="{{ href|url }}">{{ title }}</a></li>
                {% endfor %}
              </ul>
          </div>
        </nav>
      </header>
      <div class="page">
        {% block body %}{% endblock %}
      </div>
      <footer>
      <div id='footer'>
          This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.
      </div>
      </footer>
  </div>
</body>
