{% extends "_post.html" %}

{% hyde
    title: Nerd pastime
    created: 2010-09-02 21:38:39
%}

{% block article %}
{% article %}
{% excerpt %}

<p><center>
<img src="http://imgs.xkcd.com/comics/collatz_conjecture.png"></p>

<p>+</p>

<p><a href="http://www.graphviz.org/">dots</a></p>

<p>+</p>

<p>nerd</p>

<p>=</p>

<p><img src="/media/img/misc/collatz.png" />
</center></p>

<p><a href="http://cerkinfo.be/~cibot/zob.png">This one</a> is made from 1000 (careful, 4.2mo, prefer download) pic. 100 for <a href="http://cerkinfo.be/~cibot/prout.png">this&nbsp;one.</a></p>

<p>Then, looking for way to make this look funnier <a href="http://en.wikipedia.org/wiki/Collatz_conjecture">I discover that cooler graphs</a> already&nbsp;exist.</p>

<p><a href="http://paste.debian.net/87410/">Script</a> (remove the color stuff, will display as on&nbsp;wikipedia).</p>

<p><a href="http://omploader.org/vNWY1OQ">An experiment</a>.</p>

<p><a href="http://xkcd.com/150/">This is the next xkcd</a> I will&nbsp;reproduce.</p>

{% endexcerpt %}
{% endarticle %}
{% endblock %}
